<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Search</title>
    <link rel="shortcut icon" type="image/jpg" href="./img/favicon.ico"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="./js/underscore-min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <script id="results-template" type="text/template">
        <h3 class="subtitle"><%- total %> results found</h3>
        <% _.each(results, function(rlist, key) { %>
            <% _.each(rlist, function(r) { %>
            <div class="box">
                <a href="<%- r.url %>"><%- r.headline %></a>
                <p>
                    <b><%- key %></b> - <i><%- r.source %></i>
                </p>
                <p>
                    <span><%- r.time %></span>
                </p>
            </div>
            <% }); %>
        <% }); %>
    </script>
    <section class="section">
        <div class="container">
        <h1 class="title">
            News Search
        </h1>
        <div class="columns is-mobile">
            <div class="column is-8">
                <div class="field">
                    <div id="search-control" class="control">
                        <input id="search" class="input is-primary" type="text" placeholder="Your search here">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="columns is-mobile">
                <div id="results" class="column is-8">
                </div>
            </div>
        </div>
        </div>
    </section>
    <script>
        let resultsTmp = _.template(
            $('#results-template').html()
        );

        $('#search').keypress(function(event){
            let keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                let search = $(this).val();
                if (search.length < 3) {
                    if (!$(this).hasClass("is-danger")) {
                        $(this).addClass("is-danger");
                    }
                    alert('The search is too short');
                } else {
                    let searchControl = '#search-control';
                    $(this).removeClass("is-danger");
                    if (!$(searchControl).hasClass("is-loading")) {
                        $(searchControl).addClass("is-loading");
                    }
                    axios.get(encodeURI('../api/search/' + search)).then((response) => {
                        $(searchControl).removeClass("is-loading");
                        let data = response.data;
                        if (data['status'] != 'success') {
                            alert('Sorry, error found');
                            return;
                        }
                        let results = data['data'];
                        $('#results').html(resultsTmp({'total': data['total'], 'results': results}));
                    });
                }
            }
        });
    </script>
  </body>
</html>
